# Copy this file to .env and update the DATABASE_URL
# Example (adjust user, password, host, port, dbname):
# DATABASE_URL="postgresql://username:password@localhost:5432/medspaces?schema=public"

DATABASE_URL=

# Node environment
NODE_ENV=development
